extends layout 
include mixins/_hotel
block content 
    each hotel in hotelData 
        .hotel 
            if url.startsWith('/admin')
                a(href=`${hotel._id}/update`)
                    button Update Hotel
                a(href=`${hotel._id}/delete`)
                    button Delete Hotel
            +hotel(hotel)