extends layout

block content
    .admin_wrapper
        h2= title 
        hr
        ul 
            li 
                a(href="/admin/add") Add new hotel
            li 
                a(href="/admin/edit-remove") Edit / Remove hotel
            li 
                a(href="/admin/add-user") Add new user
            li 
                a(href="/admin/edit-remove-user") Edit / Remove users
            li 
                a(href="/admin/orders") View bookings