extends layout 
block content 
    a(href="/admin")   
        button(class='admin-btn' type='button') Back to admin
    h3= title
    form(class='hotel-form' action="" method="POST")
        input#hotel_id(type="text", name="hotel_id" placeholder="Hotel Id")
        p or: 
        input#hotel_name(type="text", name='hotel_name' placeholder="Hotel name")
        button(type="submit") Confirm