extends layout 
include mixins/_orders
block content 

    h2=title
    .account-greetings
        if user 
            h3=`Hi, ${user.first_name}!`
            if orders.length > 0
                h3 Your bookings 
                .bookings 
                    each order in orders 
                        +orders(order)

            else 
                h3 There are no orders yet...
                a(href="/all") 
                    button.button See our hotels!
        else 
            h3 Log in to view this section
