.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 1.5em;
}

.header-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    background-color: var(--background-primary-color);
}

.header-div>nav {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 1em;
}

.header-div nav>a {
    color: var(--text-color);
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    text-decoration: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    width: 100%;
    padding: 1rem 0;

    font-family: var(--primary-font);

    color: black;
    background-color: var(--background-secondary-color);
    align-items: center;
    justify-content: center;
}

.form_input {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: 2px
}

.form_input input {
    width: 90%;
    margin: 0 1em;
    padding: 10px;

    border: none;
    border-radius: 5px;

    text-align: center;
}

.form_input-selects {
    display: flex;
    gap: 15px;

}

.form_input-selects select {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#bottom-img {
    border-radius: 0 0 50px 50px;
    width: 100%;
}

@media (min-width: 1000px) {
    .header-div {
        flex-direction: row;
    }

    .header-div img {
        flex: 1;
    }

    .header-div nav {
        flex: 2;
        flex-direction: row-reverse;
        margin-right: 30px;
    }

    .form {
        flex-direction: row;
        margin: 0 auto;
    }

    #form-button {
        margin-right: 5px;
    }
}