.hotel_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;

    font-family: var(--primary-font);
}

.hotel {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.hotel_img {
    flex: 1;
    padding: 0.1em;
    display: flex;
    justify-content: center;

}

.hotel_img img {
    border-radius: 5px;
}

.hotel_info {
    flex: 1;
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;

    gap: 3px;
    padding: 0.3em;
}

.hotel_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    text-align: center;
}

.hotel_details>h3 {
    border-bottom: solid rgb(88, 86, 86) 1.8px;
}

.hotel_details button {
    width: 100%;
    border: none;
    margin: 5px auto;
    padding: 5px;

    font-size: 1em;

    background-color: var(--background-secondary-color);
}

.hotel_details a {
    margin: 0 auto;
    width: 50%;
}

.hotel_order_details {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 1em;

    text-align: center;

    background-color: rgb(228, 219, 202);
}

.hotel_order_details h3:last-child {
    border-top: solid rgb(46, 46, 46) 1px;
    padding: 10px;
}

.country_wrapper {
    font-family: var(--primary-font);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px
}

.country {
    text-align: center;
    font-family: var(--primary-font);
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;

    max-width: 100%;
    background-color: var(--background-primary-color);
}

.button-secondary {
    background-color: var(--background-secondary-color);
}

.account-greetings {
    line-height: 30px;
    padding: 20px;
}

@media (min-width: 1000px) {
    .hotel {
        flex-direction: row;
    }

    .hotel img {
        padding: 15px;
        border-radius: 50px;
    }

    .hotel a {
        margin: 0 auto;
        width: 60%
    }

    .hotel_details {
        text-align: left;
        align-items: left;
    }

    .hotel_details a {
        margin: 0;
        width: fit-content;
    }

    .hotel_details button {
        padding: 5px 20px;
    }
}